@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto max-w-screen-xl w-10/12 md:w-11/12;
  }
  .link {
    @apply text-white text-sm md:text-base lg:ml-8 flex items-center mb-2 lg:mb-0;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
